<a href="https://colab.research.google.com/github/Ada-Developers-Academy/jump-start/blob/python-learning-to-code/09_programming_grammar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Grammar

## Learning Goals
* Understand and identify different data types (string, integer, float)
* Assign data to variables
* Use the `print` function
* Understand and use string concatenation and string interpolation
* Practice debugging Python code

## Activities

* Review [notes](https://colab.research.google.com/drive/1kfE-bujlwiJoDxTWIXa8u1GPGDJAnjvS#scrollTo=8vNe319OYQvw&line=1&uniqifier=1) within this section
* Watch [Video: Now we're programming!](https://adaacademy.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=4df0c8ab-64fc-4186-a9e2-a8c4014a4b4b)
* Complete the [practice problems](./practice-problems.md) and then check your answers using `irb`
* Complete the [Numbers problem assignment](#numbers-problem-assignment)
* Complete the [MadLib assignment](#madlib-assignment)
* [Optional] For additional learning and practice, look at the lessons and exercises of [Day 1 of JumpStart Live](https://github.com/Ada-Developers-Academy/jump-start-live/tree/master/lessons/day1#lessons).

## Notes

### Comments

Comments allow you to leave notes along with your code. These notes will help you when you return to your code later, as well as anyone else that looks at your code. Beginning a line using the `#` character is a comment. Comments are not executed and are ignored when running your program. Following Ruby style guidelines, it is good practice to enter a space following `#`.

#### Example

In [ ]:
# I'm a code comment. Python knows this is for people and not computers
# Also, it is always taco time.
taco_time = "Always"

# This is a comment too.
print("But this isn't.")

#This comment is not following good Python style practices because it does not have space after the #

### Data types

| Data Type | Description | Example |
| :--- | :--- | :--- |
| string / str | A collection of characters within single or double quotes | `"hello"`, `'hello'` |
| integer / int | A number with no decimal | `1`, `0`, `-7` |
| float | Real value (decimal) | `0.5` |
| list | A collection of data of one or more types within square brackets | `["hello", 0, 1.5]` |
| dictionary | A set of key, value pairs | `{ A: 2, B: 3, C: 1}` |

#### Determining the type

To determine the type of an object you can use the function `type`. You can call the function `type` on a `literal` value such as the `int` `1` or `str` `"hello"`, or a variable that holds a value such as `x` or `word` as shown below. 

Run the code blocks to see example output from the function `type`.

In [ ]:
print(type(1))

In [ ]:
x = 1
print(type(x))

In [ ]:
print(type("hello"))

In [ ]:
word = "hello"
print(type(word))

### Mathematical operations

| Operation | Ruby symbol | Example |
| :--- | :--- | :--- |
| addition |  `+` | `2 + 3` |
| subtraction | `-` | `4 - 5` |
| multiplication | `*` | `7 * 8` |
| division | `/` | `10 / 2` |
| remainder (modulus) | `%` | `15 % 5` |

#### Important notes

* In some languages Integer division (division involving only integers) results in the decimal result being truncated/rounded. This is the case in Python Version 2, however in Python Version 3, Integer division can produce a `Float` as the quotient.
* Modulus (or mod, for short) returns the remainder of dividing one number by another number. e.g. `15 % 10` will return `5`.

*Run the code below to see a couple examples of mathematical operations.* 

Notice that the result is printed to the screen even though we did not use the `print` function. In `Colab`, the result from the last line of a code block is printed to the screen.

In [ ]:
2/3

In [ ]:
10 % 3

### Precedence

Also commonly called order-of-operations, is the order in which operations are completed.

| __Priority__ | __Operation__ |
| :--- | :--- |
| 1 | parens |
| 2 | unary operations |
| 3 | multiplication, division, modulus|
| 4 | addition, subtraction, string concatenation |
| 5 | less than, less than or equal to, greater than, greater than or equal to |
| 6 | equal to, not equal to |
| 7 | and |
| 8 | or |

### Assignment Statements

In programming, we often need to save values. We may want to refer to the values later, or only have to do a calculation once. Variables have a name and a value. We assign a value to a variable using an assignment statement. Assignment statements are read from right-to-left, not from left-to-right. Use phrases like _assigns_, or _stores the value_, instead of _equals_, or _equal to_.

#### Examples

As you go through the examples below, read the comments to understand how to talk in programming terms. Before you run the code, make a guess at what will be printed to the screen.

In [ ]:
# the value of 5 is assigned to the variable named x
x = 5
# the current value of x(5) is added with 1
# that sum is then assigned to the variable named x
x = x + 1

print("x =", x)

In [ ]:
# the value of 1 is assigned to the variable named x
x = 1
# the value stored in x is assigned to y
# note: this does not mean that x and y will always
# store the same value
y = x
# the value of 3 is assigned to the variable named x
x = 3
# note: y still holds the value of 1
print("x =", x)
print("y =", y)

In [29]:
# the value of "Rosa" is assigned to the variable named dog_name
dog_name = "Rosa"
# the value of "Raquel" is assigned to the variable named cat_name
cat_name = "Raquel"
# the value of 7 is assigned to the variable named dog_age
dog_age  = 7
# the value of 11 is assigned to the variable named cat_age
cat_age  = 11

print("The dog named", dog_name, "is", dog_age, "years old")
print("The cat named", cat_name, "is", cat_age, "years old")

The dog named Rosa is 7 years old
The cat named Raquel is 11 years old

### Compound assignment statements

It is possible to perform an operation and assign a value all in the same step. To add and assign you can use `+=`, to subtract and assign you can use `-=`, to divide and assign you can use `/=` and to multiply and assign you can use `*=`.

#### Examples

* `x += 3`  assigns the value of `x + 3` to the variable `x`  
* `x += y + 3` assigns the value of `x + (y + 3)` to the variable `x`  
* `x -= 2`  assigns the value of `x – 2` to the variable `x`  
* `x -= y – 5`  assigns the value of `x – (y – 5)` to the variable `x`  
* `x /= 3`  assigns the value of `x / 3` to the variable `x`  
* `x *= y`  assigns the value of `x * y` to the variable `x`  
* `x %= y`  assigns the value of `x % y` to the variable `x`

*Try some of these expressions in the code block below.* 
- Uncomment one expression by removing the `#` and run the code block to see the affect the operation has on x and/or y. 
- Recomment that expression by adding the `#` back and uncomment the next expression*
- Continue until you've examined the affect of each operation.

In [ ]:
x = 2
y = 5

# x += 3 
# x += y + 3
# x -= 2
# x -= y – 5
# x /= 3
# x *= y
# x %= y

print("x =", x)
print("y =", y)

# Exercises