<a href="https://colab.research.google.com/github/Ada-Developers-Academy/ada-build/blob/build-reorg/06_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

_Ada Build - Intro to Python - Lesson 6_

# Learning Goals

By the end of this lesson you should be able to:
* Define the following: data structure, list, index, value.
* Understand what a data structure is and how it can be used.
* Create a new list.
* Access data in a list.
* Add data to a list.
* Loop through data in a list.

# Notes

## Overview

Lists are the most common data type used to create collections in Python.

A [`List`](https://docs.python.org/3/tutorial/introduction.html#lists) is an _ordered_ collection of objects enclosed by square brackets `[]`.

List Example:
```python
[1, 10, 33, 50, 2, 7]
```

## Creating Lists

A list can be created to be empty to begin with or with an initial set of values. Regardless of whether we are creating an empty list or a list with data, there are two different ways to create a new list.

### Empty

In the first way, we initialize an **empty** `List` by using `[]`. A list can be assigned to a variable like any other data type:

```python
my_list = []
```

The second way is to explicitly create a new instance of the `List` class defined in the Python core library.

```python
my_list = list()
```

We know that this list is empty because the list definition starts with the `[`(left square bracket) and ends with the `]`(right square bracket), and there is nothing between those two symbols.

Run the code cells below to see the empty lists.

In [ ]:
my_list = []
my_list

In [ ]:
my_list = list()
my_list

### With Data

We can utilize the square bracket syntax to initialize a new `List` _with data_.

Run the code cells below to see lists with data.

In [ ]:
numbers = [1, 2, 3, 4]
numbers

In [ ]:
words = ["apple", "hello", "ada"]
words

In [ ]:
numbers_and_words = [1, "ada", 1.5]
numbers_and_words

[1, 'ada', 1.5]

We can also utilize the `list` function to create a list with data.

Run the code cells below to see lists created by using `list` with different arguments.

In [ ]:
numbers = list(range(1,5))
numbers

[1, 2, 3, 4]

In [ ]:
banana_list = list("banana")
banana_list

['b', 'a', 'n', 'a', 'n', 'a']

### Data Types

Note that lists can store all sorts of data including but not limited to integers, floats and strings. In Python, it is not a requirement that all items stored in the list be of the same type (i.e. you may create a list with a string as the first element, an integer as the second element and so on). Often times, however, to solve a problem, a programmer may choose to make an list of the same data type.

### Exercise: Creating Lists

Create the following lists in the code cell below using both methods, where possible: square brackets `[]` and `list(arguments)`.

Assign the lists to variables `exercise1`, `exercise2`, etc.

1. `[5, 6, 7, 8, 9, 10]`
2. `[]`
3. `["a", "b", "c"]`
4. `["ada", "lovelace", 1]`

In [ ]:
# replace ... with appropriate list using []
list1 = ...
list2 = ...
list3 = ...
list4 = ...

print(list1)
print(list2)
print(list3)
print(list4)

# replace ... with appropriate list using list()
list1 = ...
list2 = ...
list3 = ...
list4 = ...

print(list1)
print(list2)
print(list3)
print(list4)

## Indices

Lists are integer-indexed starting at __zero__. Counting in computer science typically [begins with zero](http://skillcrush.com/2013/01/17/why-programmers-start-counting-at-zero/). This means that **each item** in the list corresponds to an **integer value**, and that integer is used to access an object within the `List`. The first object is at index 0, the second object is at index 1 and so on. Indexing and slicing with `List`s is very similar to Indexing and slicing with `String`s!

You can think of the index as saying how many items away from the _start_ of the list you would like to access.  The start of the list is of course 0 items away from itself.

### Slicing and Negative Indices

To take a slice of a list, you can pass one, two, or three values.

`list[I]` will provide give a single element.
`list[I:J]` will provide a section of elements from index I up to, but not including index `J`.
`list[I:J:K]` will provide a section of elements from index I up to, but not including index `J`, stepping by the interval `K`.
Note that if you provide an index greater than the length of the list, an IndexError will occur.

In Python, lists also uses negative indexing. The `-1` index is the last element in the list, the `-2` index is the second to last element in the list, and so on.

### Exercise

Read the code cells below and predict the ouput. Run the code cell to check your answers.

In [ ]:
# exercise 1
numbers = [1, 10, 33, 50, 2, 7]
print(numbers[0]) 
print(numbers[1]) 
print(numbers[2]) 
print(numbers[3]) 
print(numbers[4]) 
print(numbers[5]) 
print(numbers[6])

The table below maps the data to their corresponding indices for the list `numbers`.

| Value |  1  |  10 |  33 |  50 | 2   |  7  |
| :---- | :-- | :-- | :-- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] | [3] | [4] | [5] |

In [ ]:
# exercise 2
numbers = [1, 2, 3, 4]
print(numbers[2])
print(numbers[1:3])
print(numbers[-1])
print(numbers[0:3:2])

# exercise 3
empty_list = [None, None, None]
print(empty_list)

# exercise 4
zeros = [0] * 5
print(zeros[2])

_numbers_

| Value |  1  |  2 |  3 |  4 |
| :---- | :-- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] | [3] |

_empty_list_

| Value |  None  |  None |  None |
| :---- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] |

_zeros_

| Value |  0  |  0 |  0 | 0 |  0 |
| :---- | :-- | :-- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] | [3] | [4] |

## Data Assignment

Lists allow you to assign and reassign values within an list.

Each spot in the list acts like a variable. You can see what object is referenced by a particular index in the list. You can also change a particular index to refer to a different object.

### Exercise

Read the code cells below and make a prediction about the output. Run the cells to check your answers.

In [ ]:
animals = ["bird", "horse", "cat", "monkey"]
animals

In [ ]:
animals[0]

In [ ]:
animals[0] = "parrot"
animals[0]

In [ ]:
animals

## Using Built-In Methods

List is a built-in class available in Python. Lists have [many built-in functions and methods](https://docs.python.org/3/tutorial/datastructures.html?highlight=lists#more-on-lists) that we commonly utilize. We will introduce the function `len` and method `append` now.

_Recall that functions are invoked with the syntax `function_name(argument)` and methods are invoked with the syntax `object.method_name` (a method is a function associated with a specific instance of an object)._

### Exercise

Read the code cells below and make a prediction about the output. Run the cells to check your answers.

#### `len`

This function returns the number of elements in the list.

In [ ]:
animals = ["bird", "horse", "cat", "monkey"]
len(animals)

#### `append`

This methods appends a given object to the end of a list.

In [ ]:
animals = ["bird", "horse", "cat", "monkey"]
animals.append("dog")
print(animals) 
print(len(animals))
print(animals[4])

## Looping over a list

Earlier, in the lesson on iterators, we looked at how different iterators and loops work. Now, let's take a closer look at how loops or iterators work together with lists.

### `for` loops and `range`

Recall the `for` loop with the `range` function from the previous lesson.

We can leverage the fact that the `range` function begins counting at `0` and the index of the first element in an list is also `0`. Combining this knowledge and utilizing the in-built function `len` to get the count of elements in the list, we can retrieve the value of each element in the list like so (_Run the code cell to see the output_):

In [ ]:
# Example 1
# An list of veggies
veggies = ["carrot", "yam", "zucchini", "spinach"]
veggie_count = len(veggies)
# the value of 4 will get assigned to variable veggie_count

for i in range(veggie_count):
    print(f"Vegetable {i+1}: {veggies[i]}")

# -- output:--
# Vegetable 1: carrot
# Vegetable 2: yam
# Vegetable 3: zucchini
# Vegetable 4: spinach

In the example below, we determine the length of the `names` list. Then, we use the `for` loop to retrieve the index of each element in the list. In the body of the loop, we use the index to retrieve the value of the element in the list at that index.

In [ ]:
# Example 2
# An list of names
names = ["Usagi", "Rei", "Ami", "Makoto", "Minako"]

for i in range(len(names)):
    print(f"Hello {names[i]}!")

#--output:--
# Hello Usagi!
# Hello Rei!
# Hello Ami!
# Hello Makoto!
# Hello Minako!

#### Exercise

In the code cell below, write a for loop that prints out `"I love vegetable_name"` using the vegetable list from Example 1.

In [ ]:
veggies = ["carrot", "yam", "zucchini", "spinach"]

# your code goes here

### `for` directly on a list

In the previous lesson, we looked at how `for` iterator could work over a range. We can also use the `for` iterator to retrieve each item in a collection like a list.  This is commonly called a `for-each` loop in other programming languages.

In the example below, the `for` iterator will iterate over the `veggies` list. For each iteration, the `vegetable` variable will be assigned to the value of the next element in the list, starting with the first.

In [ ]:
# Example 3
# An list of veggies
veggies = ["carrot", "yam", "zucchini", "spinach"]

for vegetable in veggies:
  print(f"a vegetable: {vegetable}")

# --output--
# a vegetable: carrot
# a vegetable: yam
# a vegetable: zucchini
# a vegetable: spinach

In the example below, the iterator will iterate over the `names` list. For each iteration, the `name` variable will be assigned to the value of the next element in the list, starting with the first. The block of code will be executed for each name, which will say hello to each person!

In [ ]:
# Example 4
# An list of names
names = ["Usagi", "Rei", "Ami", "Makoto", "Minako"]

for name in names:
    print(f"Hello {name}!")

#--output--
# Hello Usagi!
# Hello Rei!
# Hello Ami!
# Hello Makoto!
# Hello Minako!

# Exercise

In the code cell below, write a for loop that operates directly on a list and prints out `"I love vegetable_name"` using the vegetable list from Example 1/3.

In [ ]:
veggies = ["carrot", "yam", "zucchini", "spinach"]

# your code goes here

## Index Errors

A common error to encounter when working with lists is an `IndexError`

### Debugging `IndexError`<small>s</small>

Run the code cell below and read the error messages. Try to fix the error.

In [ ]:
# code block 1
falcon = ["Solo"]

# Access "Solo"
falcon[1]

In [ ]:
# code block 2
names = ["Usagi", "Rei", "Ami", "Makoto", "Minako"]

# Access the 5th name!
names[5]

#### Solutions

**Code Block 1**

The `IndexError` message is a little less helpful than previous error messages.  We still see the relevant line that caused the issue but only get told: `list index out of range`.

![error from code block 1](https://drive.google.com/uc?id=1mzVIoS_4AcJmIKa22_i0xsRI92-1O-Ov)


The error here is that the first element of the list is 0, not 1.

**Code Block 2**

Like above the error here isn't super helpful beyond knowing it's an `IndexError`.

![error from code block 2](https://drive.google.com/uc?id=1XElHmKFiSWqSHT8u_GnxaYZaTSiO-zvx)

The error here is that we didn't start counting from 0.  When we want to access the 5th element in a list we need to use `names[4]` instead of `names[5]`.

# Practice Problems

Read the code in each section, then write exactly what the code prints out. Use the code cell below to check your answers.

## 1. Indexing and Appending Lists


```python
# problem 1.1
random_data = ["b", "a", 1, 3, 99, "c"]
print(random_data[4])
print(random_data[2] + 10)
print(random_data[1] + random_data[0])
```

```python
# problem 1.2
numeric_data = []
numeric_data.append(2)
numeric_data.append(4)
numeric_data.append(6)
numeric_data.append(8)

print(len(numeric_data))
print(numeric_data[1])
```

```python
#problem 1.3
my_list = ["dog", 5, "cat", 2, "horse", 1]
print(my_list[6])
print(my_list[-1])
```

## 2. Looping over a list

```python
# problem 2.1
cars = ["old", "new", "used"]
for car in cars:
    print(car)
```

```python
# problem 2.2
fruits = ["banana", "apple", "kiwi"]
for fruit in fruits:
    print(f"I love {fruit}!")
```

```python
# problem 2.3
values = [8, 5, 3, 10, 14, 2]
for value in values:
    print(value)
```

```python
# problem 2.4
total = 0
values = [4, 6, 2, 8, 11]

for value in values:
    total += value

print(total)
```

```python
# problem 2.5
values = [8, 5, 3, 10, 14, 2]
for value in values:
  if value == 10:
    print("Special case!")
  else:
    print(f"Regular values like {value}")
```

# Project: Account Generator

We are going to write a program that generates some student information. This exercise will practice our skills with strings, random numbers, lists and iterators.

## Requirements

1. You will start by creating three lists:
  * A list that will contain student names.
  * A list that will contain student id numbers.
  * A list that will contain student email addresses.
  
  **Note:** Make sure to name your variables appropriately so that it is easy to deduce the information stored in each list and that this information is not singular. e.g.
`flowers = ["lily", "rose", "gardenia", "daisy"]` vs. `flower = "tulip"`.

2. Make a list that contains five student names (first and last).

  Example output:

| Value |  "ROSIE MARTINEZ"  |  "JOE LIU" |  "SALLY SUE" |  "BOB JOHNSON" | "DELIA AGHO"   |
| :---- | :-- | :-- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] | [3] | [4] |

3. Write a loop to generate random student ID numbers from 111111 to 999999 and store those values in the student ID number list.

  Example output:

| Value |  123256  |  349222 | 999999 | 111112 | 726488   |
| :---- | :-- | :-- | :-- | :-- | :-- |
| Index | [0] | [1] | [2] | [3] | [4] |

4. Write a loop to generate student email addresses in the format: (first inital)+(last name)+(last 3 digits of student ID number)@example.org and put these values in the student email list.

  Example output:

| Value |  "RMARTINEZ256@example.org"  |  "JLIU222@example.org" |  "SSUE999@example.org" |  "BJOHNSON112@example.org" | "DAGHO488@example.org"   |
  | :---- | :-- | :-- | :-- | :-- | :-- |
  | Index | [0] | [1] | [2] | [3] | [4] |

5. Write the code which will print out all the student names, ID numbers, and email addresses in parallel.

In [ ]:
# your code goes here

[A solution is linked here](https://repl.it/@BeccaElenzil/account-generator-v1).

## Optional Enhancements

* write a loop for requirement 2 that prompts the user for 5 names rather than hard coding the data.
* make sure none of the IDs are duplicates.
* account for ID numbers whose last 3 digits are less than 100 (e.g. 111008) because these ID numbers will generate an email address with less than 3 digits at the end without special cases.
* on email generation, account for first names with a space in them  
  e.g. if the first name is "Mary Jane", then the first initial should be "MJ" rather than just "M".
* read in the student names from a file and make the list size according to the number of names.

# Project: Rock, Paper, Scissors - Version 4

Alter the `choose_rps` function from the _Rock, Paper, Scissors: Version 3_ code to make use of lists to randomly select `'rock'`, `paper`, or `scissors`. 

Here is a link to [our solution](https://repl.it/@BeccaElenzil/RPS-v3-1#main.py) for Version 3.

In [ ]:
def choose_rps():
    # complete rock, paper, scissors project - v4 in this code cell

[A solution is linked here](https://repl.it/@BeccaElenzil/Rock-Paper-Scissors-v4#main.py).